@page
@model DB_College_Management.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Student List";
}

<div class="mx-auto" style="display: flex; flex-direction: column; align-items: center;">
    <a class="btn btn-primary" asp-page="/Students/Create">Create A Student</a>
</div>

<div style="display: flex; flex-direction: column; align-items: flex-start; width: 50%;">
    @foreach (var student in Model.Students)
    {
        <a asp-page="/Students/Details" asp-route-PRN="@student.PRN" class="btn btn-info mt-3" style="width: 50%;">
            <div>PRN: @student.PRN</div>
            <div>Name: @student.Name</div>
        </a>
    }
</div>