@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mt-5">
    <h1 class="display-4 text-center">Student Management Website</h1>

    <div class="mt-5">
        <h3>Created by:</h3>

        <ul class="list-group">
            <li class="list-group-item"><strong>Name: </strong>Prajwal Jadhav</li>
            <li class="list-group-item"><strong>PRN: F19111004</strong></li>
            <li class="list-group-item"><strong>Class: </strong>TE COMP A</li>
        </ul>

        <ul class="list-group mt-4">
            <li class="list-group-item"><strong>Name: </strong>Vaibhavi Lambole</li>
            <li class="list-group-item"><strong>PRN: F19111004</strong></li>
            <li class="list-group-item"><strong>Class: </strong>TE COMP A</li>
        </ul>
    </div>
</div>
