@page
@model DB_College_Management.Pages.Student.CreateModel

<section>
    <form method="post" asp-page="/Student/Create">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.PRN"></label>
            <input asp-for="Input.PRN" />
            <span asp-validation-for="Input.PRN" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.MobileNo"></label>
            <input asp-for="Input.MobileNo" />
            <span asp-validation-for="Input.MobileNo" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Address"></label>
            <input asp-for="Input.Address" />
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.BirthDate"></label>
            <input asp-for="Input.BirthDate" />
            <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Year"></label>
            <input asp-for="Input.Year" />
            <span asp-validation-for="Input.Year" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" class="bg-primary text-white" />
        </div>
    </form>
</section>